{
    "url": "https://lams.ntu.edu.sg/lams/tool/laasse10/learning/submitAll.do?sessionMapID=sessionMapID-8407",
    "cookies": "JSESSIONID=<value>; WT_FPC=id=<value>; ZNPCQ003-31393900=<value>; IPCZQX03dfbdee7b=<value>; _ga=<value>; _gid=<value>; NSC_mcwtws_oed2ena_mbnt.ouv.fev.th=<value>"
}