{
    "origin": "https://lams.ntu.edu.sg",
    "url": "/lams/tool/laasse10/learning/submitAll.do?sessionMapID=sessionMapID-8407",
    "questionUid": [
        568923
    ],
    "choices":
    [
        1758232,
        1758233,
        1758231,
        1758230,
        1758235,
        1758234
    ],
    "questionCount": 6
}